@import url(nanumgothic.css);

html {width: 100%;height: 100%;}
body {
	width: 100%; height: 100%; 
	margin: 0; padding: 0;
	font-size: 12px; font-family: "Nanum Gothic", arial;
	/* letter-spacing: -0.1em; */
	-webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
}

#header {
	position: fixed;
	width: 100%;height: 50px;
	top: 0;
	background-color: #333;
	color: #fff;
	z-index: 101;
}
#header:after {content:""; display:block; clear:both; *zoom: 1;}
#header {*zoom:1;}

#header .logo {float:left; line-height:50px; padding:0 5px 0 5px; font-weight:bold; font-size: 15px;letter-spacing: -1px;cursor: pointer;}
#header .beta {float:left; margin-left: 1px;font-size: 11px; line-height: 50px;cursor: pointer;}
#header .member {float:right;position: relative;padding-right: 5px;}
#header .member .menu {
	display: none;
	position: absolute;
	top: 45px;
	width: 120px;height: auto;
	padding: 5px;
	color: #333;
	font-weight: bold;
	background-color: #fff;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	border: solid 1px #f1f1f1;
	z-index: 101;

}
#header .member .menu ul {list-style: none;margin: 0;padding:0;}
#header .member .menu li {margin: 0;padding: 5px 0 5px 2px;border-bottom: solid 1px #d1d1d1;}
#header .member img {height: 23px;margin-bottom: -5px;}
#header .member .wrap {
	width: 120px;
	text-align: center;
	margin-top: 6px;
	height: 25px;
	padding: 5px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	background-color: #f1f1f1;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	border: solid 1px #f1f1f1;
}

#header input {#margin-top: 11px;}

#navigation {
	position: fixed;
	width: 100%;height: 40px;
	top: 50px;
	background-color: #f1f1f1;
	border-bottom: solid 2px #d1d1d1;
	padding: 0 0 0 5px;
	z-index: 100;
}

#navigation .current {
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 40px;
}

#navigation .search {float:right; margin-right: 5px;padding-top: 7px;}

#navigation .refresh {
	float:right;margin-right: 10px;
	cursor: pointer;
}

#tail {
	position: fixed;
	bottom: 0;
	width: 100%;height: 40px;
	background-color: #333;
	color: #fff;
}


/* ContentWrap */
#contentsWrap {
	padding: 95px 0 40px 0;
}

/* listWrap */
#contentsList {
	list-style-type: none;
	margin: 0; padding: 0;
}

#contentsList li {
	position: relative;
	overflow: hidden;
}
#contentsList li:after {content:""; display:block; clear:both; *zoom: 1;}
#contentsList li {*zoom:1;}

#contentsList li.basic {
	margin: 0; padding: 0;
	width: 100%; height: 80px;
	padding: 10px 0 10px 0;
	border-bottom: solid 1px #d1d1d1;
	cursor: pointer;
}
#contentsList li.basic.on {
	background-color: #f1f1f1;
}

#contentsList li div.thumb {
	position: absolute;
	top: 13px;left: 5px;
	/*margin:0 10px 0 5px;*/
	width: 110px; height: 70px;
	overflow: hidden;
}

#contentsList li .thumb img {
	margin: -50% 0;
	width: 110px; /*height: 70px;*/
	border: solid 2px #f1f1f1;
}

#contentsList li div.contents {
	padding: 0 5px 0 125px;
	height: 80px;
}
#contentsList div.content {
	margin-top: 5px;
	min-height: 20px;
/*	line-height: 20px;*/
	word-break:break-all;
}


#contentsList li .contents div.title {font-weight:bold;}

/* contentsView */
#contentsView {}

#contentsView .cover {
	width: 100%;
	text-align: center;
}
#contentsView .cover img {
	max-width: 95%;
	border: solid 5px #f1f1f1;
}

#contentsView .public {
	text-align: center;
}

#contentsView .info {
	width: 98%;
	margin: 0 auto;
	padding: 5px 0 5px 0;
	border-bottom: solid 2px #f1f1f1;
}
#contentsView .info:after {content:""; display:block; clear:both; *zoom: 1;}
#contentsView .info {*zoom:1;}
#contentsView .file {float: left;}
#contentsView .date {float: left;margin-left: 5px;}
#contentsView .volume {float: right;}

#noteInfoTitle {width: 98%; margin: 25px auto; line-height: 25px;font-size: 25px;font-weight: bold;}
#noteInfoList {
	width: 98%;
	margin: 10px auto; padding: 0;
	border: solid 1px #d1d1d1;
	border-collapse: collapse;
}
#noteInfoList th {
	border: solid 1px #d1d1d1;
	padding: 5px;
	font-weight: bold;
	color: #333;
	text-align: right;
}
#noteInfoList td {
	border: solid 1px #d1d1d1;
	padding: 5px;
}

#notePublic {
	margin: 10px auto;
	width: 98%; min-height: 30px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	border: solid 1px #f1f1f1;
}



#extraTitle {width: 98%; margin: 25px auto; line-height: 25px;font-size: 25px;font-weight: bold;}
#extraTitle img {margin: 0 0 -3px -5px;}

#extraList {
	width: 98%;
	margin: 10px auto; padding: 0;
	border: solid 1px #d1d1d1;
	border-collapse: collapse;
}
#extraList td {
	border: solid 1px #d1d1d1;
	padding: 5px;
}

#replyWrite {
	width: 98%;
	margin: 25px auto;
}
#replyWrite .title {line-height: 25px;font-size: 25px;font-weight: bold;}
#replyWrite .title img {margin: 0 0 -3px -5px;}
#replyWrite .form {margin-top: 10px;}

#replyList {
	width: 98%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#replyList li.basic {position: relative;width: 100%;min-height: 50px;margin: 10px 0; padding: 0;}

#replyList li div.profile {position: absolute;top: 0;left: 0; width: 50px;}
#replyList li .profile .icon {width: 50px; height: 50px; background: #f1f1f1;}
#replyList li .profile .icon img {width: 50px; height: 50px;}

#replyList li div.reply {margin-left: 55px;word-break: break-all;}
#replyList li .reply .title {height: 20px;line-height: 20px;}
#replyList li .reply .title img {margin-bottom: -3px;}

/* Common */
input.text.basic {border:solid 1px #d1d1d1;height: 22px;padding-left: 3px;}
img.icon {
	width: 18px; height: 18px;
}

input.button.basic {height: 25px;border: 0; background-color: #000; color: #f1f1f1; font-weight: bold;}
input.button.white {background: #fff;color: #333;}

.round, .button {
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
}

ul#memberInfo {
	margin: 0 0 0 10px;padding: 0;
	list-style: none;
}
ul#memberInfo li {
	margin: 0;padding: 0;
	min-height: 40px;
	border-bottom: solid 1px #f1f1f1;
	line-height: 40px;
}
ul#memberInfo li.head {
	font-size: 15px;font-weight: bold;
}
ul#memberInfo li.description {
	font-size: 11px;color: #ff0000;
}
ul#memberInfo li:after {content: "";display: block;clear: both;*zoom: 1;}

ul#memberInfo li div.title {
	float: left;
	min-width: 110px;
}
ul#memberInfo li div.contents {
	float: left;
	padding-left: 5px;
}
ul#memberInfo li div.contents input {
	margin: 5px 0;padding: 0;
	border: solid 1px #f1f1f1;
	min-width: 170px;height: 30px;
}