@charset "utf-8";

/*******************************************************************
*	common default
********************************************************************/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,button{margin:0;padding:0;}
body { text-align:-moz-center;#text-align:center; margin:0px; margin-left:4px; overflow-y: scroll;}

html {
	
	scrollbar-face-color: #EFEFEF;
	scrollbar-shadow-color: gray;
	scrollbar-highlight-color: white;
	scrollbar-3dlight-color: gray;
	scrollbar-darkshadow-color:white;
	scrollbar-track-color: #F5F5F5;
	scrollbar-arrow-color: gray;
}

body, table { font-size: 12px; color:#333333; font-style: normal; font-family:"굴림","verdana"; line-height:1.4; word-spacing:-1pt; }
form { margin:0; padding:0;	}
ul,ol,li{list-style:none;vertical-align:middle;line-height:120%;}
img { border:0px; } /*for IE image margin*/

a:link, a:visited { color:#666666; text-decoration:none;  }
a:active, a:hover { text-decoration:underline; }

textarea.inputs:hover, textarea.inputs:focus, textarea.inputs:active { background-color:#f8f8f8; }
input.inputs:hover, input.inputs:focus, input.inputs:active { background-color:#f8f8f8; }

.main {  }  /* 메인 페이지 일경우 배경등 스타일 정의*/
.sub {  }	/* 서브 페이지 일경우 배경등 스타일 정의*/

.small	{ font-family:돋움,돋움체,Tahoma;font-size:11px;letter-spacing:-1px;text-decoration:none;}
.default	{ font-family:굴림,verdana;font-size:12px;}
.num {font-family:Tahoma; font-size:11px;letter-spacing:0px;}
.title	{ font-family : 굴림, Tahoma, Verdana; font-size : 10pt; font-weight:bold; color:#333;}
.opSelect { font-family:굴림,verdana;font-size:12px; } /* 옵션 셀렉트박스에 사용되는 스타일정의 */

.hand	{ cursor:pointer; border:0px }
.bold	{ font-weight:bold; }
.left	{ float:left; }
.right	{ float:right; }
.tleft	{ text-align:left; }
.underline { text-decoration:underline; }
input.whites { border:1px solid #E4E4E4; background:#FFF; height:16px; }
input.inputs { border:1px solid #CCC; background:#FFF; height:14px;vertical-align:middle; }
textarea.inputs { border:1px solid #CCC; background:#FFF; height:14px; }
input.hd { border:0px; background:#FFF; height:14px; }
input.ip2 { background-color:#FFFFFF; border:1px solid #CCCCCC; font-family : Tahoma, 굴림, Arial, Verdana, Helvetica; font-size : 12px; color:#666666; }
option.disabled {color:#808080}
.input_check, .input_radio{ width:13px;height:13px;vertical-align:middle; }
.select_check { height:20px;vertical-align:top; }

.white	{ color:#FFF; }
.blue	{ color:#39f; }
.green	{ color:#3C0; }
.orange { color:#F60 }
.black	{ color:#000 }
.gray	{ color:#999 }
.mt4	{ margin-top:4px; } 
.mt10	{ margin-top:10px; }
.ball	{ border: 1px solid #DADADA; }
.clear	{ clear:both }
.cateColor1 { color:#39f; }
.cateColor2 { color:#f60; }
.cateColor3 { color:#000; }

/* 적립 상태  적립대기,적립완료,적립사용,사용취소 */
.statusA { color:#999 } 
.statusB { color:#f60 } 
.statusC { color:#39f } 
.statusE { color:#38c1c9 } 

/*쿠폰 상태 쿠폰발급완,쿠폰사용완료,쿠폰기간만료,쿠폰발급실패 */
.status2A { color:#f60 } 
.status2B { color:#3c0 } 
.status2C { color:#999 } 
.status2D { color:#999 } 



/*******************************************************************
*	header
********************************************************************/
#header { margin:0px; position:relative; width:994px; overflow:hidden;}
/* 로고 */
	#logo { float:left; width:180px; padding-top:2px; margin:0px;}
/* 홈메뉴와 탑네비게이션 감싸는 레이어*/
	#topmenu { float:left; width:734px; }
/* 홈메뉴 */
		#homemenu { float:right; height:22px; padding-right:4px;}
			
/* 탑 네비게이션 */
		#navi { clear:both; width:726px}
			#navi ul { float:left; margin:0px; padding:0px; }
				#navi ul li { float:left; }

/* 박스 스타일 */
#defBox { clear:both;}
	#defBox .left { float:left; width:16px; background:url(img/main/goods_table_left.gif) no-repeat;}
	#defBox .right { float:left; width:16px; background:url(img/main/goods_table_right.gif) no-repeat;}
	#defBox .content { float:left; background:url(img/main/goods_table_tbg.gif) repeat-x; padding-top:24px;}



/*******************************************************************
*	top 검색영역
********************************************************************/
#cate_sch { margin:0px; auto; width:994px; text-align:left; height:36px;} /* position:relative; z-Index:9999}	*/
	#top_search { float:right;width:724px }
		#top_sch { float:left; margin-top:7px;}	
		#top_rank { float:left; margin-top:11px;padding-left:18px; padding-right:6px; width:72px;}	
		#top_rankLine { float:left; margin-top:10px; width:160px;padding-left:8px;}	
		#top_rankBox { position:absolute; z-index:998; margin-top:8px; display:none; border: 2px #3399ff solid; width:160px;padding:6px 0px 0px 8px; background-color:#FFF}

#scateImgs { height:26px; overflow:hidden; }
#scateBox { z-index:10; background:#FFF; filter:alpha(opacity=98);opacity:0.98; -moz-opacity:0.98; display:none; overflow:hidden; width:180px; position:absolute; }
	#scate_cbody {width:180px;background:url(img/main/cate_menu_bg2.gif); padding:0px; }
	#scate_cbody ul { margin:0px; padding:0px 0px 0px 1px; }
	#scate_cbody ul li { text-align:left; padding-left:2px; height:24px; width:172px;overflow:hidden; }


/*******************************************************************
*	centent
********************************************************************/
#content { margin:0px; width:994px; overflow:hidden; padding-top:4px;}


/******************************	left ******************************/
	#contentLeft { float:left; width:180px; position:relative;z-index:99}

/* 왼쪽 메뉴카테고리 */
		#catemenu { float:left; width:180px;overflow:hidden; }
			#catemenu_top { float:left; }
			#catemenu_center { float:left; width:180px; background:url(img/main/cate_menu_bg.gif) repeat-y left top; padding:0px; margin:0px; }				
			#catemenu_center ul { margin:0px; padding:0 0 0 1px; }
			#catemenu_center ul li { text-align:left; height:24px; width:172px;overflow:hidden; }
			#catemenu_bottom { float:left; }

		#brandmenu { float:left; width:180px; overflow:hidden;}
			#brand_top { float:left; }
			#brand_center { float:left; width:180px; background:url(img/main/cate_menu_bg.gif) repeat-y left top; padding:0px; margin:0px; }				
			#brand_center ul { margin:0px; padding:0px 0px 0px 1px; }
			#brand_center ul li { text-align:left; padding:4px 0 4px 10px; width:172px;overflow:hidden;}
			#brand_bottom { float:left; }

		#catemenu .cateMenuCss{ padding: 0px; filter: alpha(opacity=98); opacity:0.98; -moz-opacity:0.98;display:none; overflow:hidden; width:180px; position:absolute; }
		.CM_cbody {background:url(img/main/box_cate_bg.gif); background-color:#FFF;}
			.CM_cbody ul { margin:0px; padding:0px; text-align:left;}
			.CM_cbody ul li { margin:0px; text-align:left; width:160px; overflow:hidden;}


/* 왼쪽배너 */
		#banner { float:left; width:180px; overflow:hidden; }
			#banner ul { float:left; margin:0px; padding:2px 0px 0px; }
			#banner ul li { padding:2px 0px; }
		
		#l_code01 { float:left; margin:0px; padding:0px; width:178px; overflow:hidden;}
		#l_code02 { float:left; margin:0px; padding:0px; width:178px; overflow:hidden;}
	

/******************************	center ****************************/
	#contentCenter { float:left; margin-left:5px; width:724px; }

/*메인 추가코드*/
	#m_img	  { clear:both; float:left; margin:0px; padding:0px; width:724px; overflow:hidden;}
	.m_code01 { clear:both; float:left; margin:0px; padding:0px; width:724px; text-align:left; overflow:hidden;}
	.m_code02 { clear:both; float:left; margin:0px; padding:0px; width:909px; text-align:left; overflow:hidden;}

/*스크롤 박스 */
	.scrollBox { clear:both; width:100%; text-align:left;background:url(img/main/goods_table_bg.gif) repeat-y;}
	.scrollBox .top { height:12px; overflow:hidden; background:url(img/main/goods_table_top.gif) no-repeat;}
	.scrollBox .bottom { clear:both;height:12px; overflow:hidden; background:url(img/main/goods_table_bottom.gif) no-repeat;}		
	.scrollBox .content {padding-top:4px;}
	.scrollBox .scroll_img_box { float:left; width:136px; margin-top:10px;height:180px; }
		.scrollBox ul { margin:0px; padding-left:10px; text-align:left}
		.scrollBox ul li { margin:0px; padding:0px; }

	.scrollBox2 { clear:both; width:100%; background:url(img/main/goods_table2_bg.gif) repeat-y; text-align:left;}
	.scrollBox2 .top { height:12px; overflow:hidden; background:url(img/main/goods_table2_top.gif) no-repeat;}
	.scrollBox2 .bottom { clear:both;height:12px; overflow:hidden; background:url(img/main/goods_table2_bottom.gif) no-repeat;}
	.scrollBox2 .content1 { float:left; padding-top:4px;}
	.scrollBox2 .content2 { float:left; }
				#weekRank { width:166px; background:url(img/main/box_tab_bg1.gif) repeat-x; height:25px;} 
	.scrollBox2 .scroll_img_box { float:left; width:136px; margin-top:10px; height:180px;}
		.scrollBox2 ul { margin:0px; padding-left:10px; text-align:left}
		.scrollBox2 ul li { margin:0px; padding:0px; }

	.scrollBox3 { clear:both; width:100%; background:url(img/main/goods_table3_bg.gif) repeat-y; text-align:left;}
	.scrollBox3 .top { height:12px; overflow:hidden; background:url(img/main/goods_table3_top.gif) no-repeat;}
	.scrollBox3 .bottom { clear:both;height:12px; overflow:hidden; background:url(img/main/goods_table3_bottom.gif) no-repeat;}		
	.scrollBox3 .content { padding:4px 0 0 20px;}
	.scrollBox3 .scroll_img_box { float:left; width:146px; margin-top:10px;height:180px; }
		.scrollBox3 ul { margin:0px; padding-left:10px; text-align:left}
		.scrollBox3 ul li { margin:0px; padding:0px; }

	#mainBox { clear:both; width:100%; background:url(img/main/main_table_bg.gif) repeat-y; text-align:left;}
	#mainBox .top { height:12px; overflow:hidden; background:url(img/main/main_table_top.gif) no-repeat;}
	#mainBox .bottom { clear:both;height:12px; overflow:hidden; background:url(img/main/main_table_bottom.gif) no-repeat;}
	#mainBox .content { float:left;}
		#mainBox ul { margin:0px; padding-left:10px; text-align:left}
		#mainBox ul li { margin:0px; padding:0px; width:176px;overflow:hidden;height:19px;background:url(img/common/icon_next.gif) no-repeat 0px 3px; padding-left:8px; }
	
	#boardBox ul { margin:0px; padding-left:10px; text-align:left}
	#boardBox ul li { margin:0px; padding:0px; width:176px;overflow:hidden;height:19px;background:url(img/common/icon_next.gif) no-repeat 0px 3px; padding-left:8px; }


	#hitGoods .boxList { clear:both; width:690px; }
	#hitGoods .boxScroll { clear:both; position:relative;left:0px;top:0px;width:690px; height:196px;overflow:hidden; }
	#hitGoods .boxMove { clear:both; width:690px; }

	#recoGoods .boxList { clear:both; width:690px; }
	#recoGoods .boxScroll { clear:both; position:relative;left:0px;top:0px;width:690px; height:196px;overflow:hidden; }
	#recoGoods .boxMove { clear:both; width:690px; }

	#newGoods .boxList { clear:both; width:690px; }
	#newGoods .boxScroll { clear:both; position:relative;left:0px;top:0px;width:690px; height:196px;overflow:hidden; }
	#newGoods .boxMove { clear:both; width:690px; }


	
/*상품리스트*/
	#list { clear:both; margin-top:16px; width:909px; }
	#list_top { width:909px; background:url(img/common/tab_bg.gif); height:22px; }
		#list_top .tab_on { float:left; width:100px; height:22px; margin-right:2px; background:url(img/common/tab_bg_on.gif) no-repeat; color:#000000; padding-top:4px;text-align:center; }
		#list_top .tab_off { float:left; width:100px; height:22px; margin-right:2px; background:url(img/common/tab_bg_off.gif) no-repeat; color:#000000; padding-top:4px;text-align:center; }
	#list_list { clear:both; width:909px; margin-top:4px; background:url(img/common/bar_list.gif) no-repeat;}
	#list_img { clear:both; width:909px; margin-top:4px;}
		.list_img_box { float:left; width:180px; margin-top:10px;  overflow:hidden; border-bottom:1px solid #F1F1F1}
			#list_img ul { margin:0px; padding-left:15px; text-align:left; width:180px; overflow:hidden;}
			#list_img ul li { margin:0px; padding:0px; width:180px; overflow:hidden; }
	#list_loading { overflow:hidden;z-index:99999; text-align:center; position:absolute; filter:alpha(opacity=90);opacity:0.9; -moz-opacity:0.9; top:0px;width:180px;height:130px; display:none;}



/******************************	서브 center페이지 ****************************/
	#subTitle {float:left;width:889px;height:75px;background:url(img/common/ttl_bg.gif);text-align:left;padding-left:20px;}
	#subTitle_1 {float:left;width:479px;height:75px;background:url(img/common/ttl_bg.gif);text-align:left;padding-left:20px;}
	#subTitle_2 {float:left;width:410px;height:75px;background:url(img/common/ttl_bg.gif);}


	#location { margin:0; width:909px; float:left; }
		#top_cate { float:left; width:190px; text-align:left;}
		#top_loc { float:left; width:714px;margin:4px 0 0 5px;}
		.nameText { padding:6px 0 0 10px; font-family:돋움,돋움체,Tahoma;font-size:11px;letter-spacing:-1px;text-decoration:none; font-weight:bold;}
	
	#loc_bottom { clear:both; margin:4px 0 8px 0; height:6px; width:909px; overflow:hidden; background:url(img/common/location_bottom.gif) repeat-x;}
 

/* 서브 메인 페이지*/
	#subMain { width:909px;margin-top:10px; float:left; overflow:hidden }
	#s_code01 { clear:both; float:left; margin:0px; padding:0px; width:909px;text-align:left}		

	
/* 상품뷰*/
	#pageView { width:909px;margin-top:10px; float:left; overflow:hidden }
		#goodsInfo { float:left; width:400px; margin-left:15px; }
		#goodsInfo ul { float:left; margin:0px; padding:0px; text-align:left; width:399px; overflow:hidden;}
		#goodsInfo ul li { margin:4px 0 4px 0; padding:2px 0 0 0; width:399px; height:23px; overflow:hidden; text-align:left; background:url(img/shop/dot_line.gif) repeat-x 0px 22px; }
		#coopInfo { float:left; width:520px; margin-left:15px; }
		#coopInfo ul { float:left; margin:0px; padding:0px; text-align:left; width:520px; overflow:hidden;}
		#coopInfo ul li { margin:4px 0 4px 0; padding:2px 0 0 0; width:520px; height:23px; overflow:hidden; text-align:left; background:url(img/shop/dot_line.gif) repeat-x 0px 23px; }

		#leftBox { float:left; width:200px;margin-left:14px; }
			#leftBox ul { margin:4px 0 0 0; padding:0px; text-align:left; width:182px; overflow:hidden}
			#leftBox ul li { margin:0 4px 0 4px; padding:0px; width:174px; height:18px; overflow:hidden; text-align:left; background:url(img/shop/dot_line.gif) repeat-x 0px 16px; }

		#detail { clear:both; width:909px;margin-top:20px; float:left; overflow:hidden; text-align:left}
			#detail .title_bg { width:909px; background:url(img/shop/title_bg.gif); height:30px; }
			#detail .detail_btn { float:left; margin-left:6px; }

			#content01 { clear:both; width:909px; text-align:left; }
			#content02 { clear:both; width:909px; text-align:left; }
			#content03 { clear:both; width:909px; text-align:left; }
			#content04 { clear:both; width:909px; text-align:left; }
			#content05 { clear:both; width:909px; text-align:left; }

			.tdType1 { padding-left:10px; height:26px; border:1px solid #ccc; border-bottom:0; background-color:#efefef; }
			.tdType2 { padding-left:10px; height:26px; border:1px solid #ccc; border-bottom:0; border-left:0; }
			.tdType3 { padding-left:10px; height:26px; border:1px solid #ccc; border-bottom:0; border-left:0; background-color:#efefef; }

/* 장바구니 & 주문 폼 */
	#pageOrder { width:909px;margin-top:10px; float:left; overflow:hidden; }

	#orderInfo { float:left; width:660px; margin-left:15px; }
		#orderInfo ul { float:left; margin:0px; padding:0px; text-align:left; width:660px; overflow:hidden}
		#orderInfo ul li { margin:4px 0 4px 0; padding:0px; width:660px; height:23px; overflow:hidden; text-align:left; background:url(img/shop/dot_line.gif) repeat-x 0px 22px; }

/* 우편번호 찾기 */
	#list_small { clear:both; width:340px; background:url(img/common/bar_slist.gif) no-repeat; text-align:left}
	#zipSearch { float:left; width:340px; margin-left:15px; }
		#zipSearch ul { float:left; margin:0px; padding:0px; text-align:left; width:340px; overflow:hidden}
		#zipSearch ul li { margin:4px 0 4px 0; padding:0px; width:340px; height:23px; overflow:hidden; text-align:left; background:url(img/shop/dot_line.gif) repeat-x 0px 22px; }

/* 회원가입 */
#pageMember { width:909px;margin-top:10px; float:left; overflow:hidden; }
	#agreeBox { float:center; width:816px; text-align:left; height:124px; overflow:auto; padding:10px; background-color:#EFEFEF }
	#agreeBox2 { float:center; width:816px; text-align:left; height:64px; overflow:auto; padding:10px; background-color:#EFEFEF }
			
	
/* 상품검색*/
	#search_box { clear:both;margin-top:10px;width:909px;float:left; }
	
	#search_content {clear:both; float:left; width:720px; } 
		#search_cbody {width:720px;background:url(img/search/box_search_bg.gif); padding-top:2px; }
			#search_cbody ul { float:left; margin:0px; padding-left:10px; }
			#search_cbody ul li { float:left; margin:0px; padding:0px; }
			#dsearch_cbody { width:720px;background:url(img/search/box_dsearch_bg.gif); height:80px; padding-top:7px;}
				#dsearch_cbody ul { float:left; margin:0px; padding-left:10px; }
				#dsearch_cbody ul li { float:left; margin:0px; padding:0px; }

	#cate_box { clear:both; width:909px;background:url(img/common/box_cate_bg2.gif) no-repeat; margin:0px;}
		.cate_box_1 { float:left; width:181px;margin-top:16px; text-align:left; background:url(img/common/bar_cate.gif) no-repeat;}

	#box180 { float:left; width:180px; text-align:left;}
	#box180 .top { height:12px; overflow:hidden; background:url(img/search/box_180_top.gif) no-repeat;}
	#box180 .bottom { clear:both;height:12px; overflow:hidden; background:url(img/search/box_180_bottom.gif) no-repeat;}		
	#box180 .content { background:url(img/search/box_180_bg.gif);padding-top:4px;}

/* TAG */
	#boxTag { float:left; width:720px; text-align:left;}
	#boxTag .top { height:61px; overflow:hidden; background:url(img/search/box_tag_top.gif) no-repeat;}
	#boxTag .bottom { clear:both;height:62px; overflow:hidden; background:url(img/search/box_tag_bottom.gif) no-repeat;}		
	#boxTag .content { background:url(img/search/box_tag_bg.gif);padding-top:4px;}


/*우측 이동메뉴 */
	#rightBox { position:relative; float:left;}
	#rBoxArea{ clear:both; position:relative;left:0px;top:0px;width:100%; height:349px;overflow:hidden;text-align:center }
		#rMenuGoods{ clear:both; position:relative;left:0px;top:0px;width:78px; height:276px;overflow:hidden;text-align:center }
			#rMenuGoods ul { padding:0px; margin:0px; height:92px; overflow:hidden}
			#rMenuGoods ul li { padding:0px; width:78px; overflow:hidden}		
		#rMenuGoods2{ clear:both; position:relative;left:0px;top:0px;width:78px; height:276px;overflow:hidden;text-align:center }
			#rMenuGoods2 ul { padding:0px; margin:0px; height:92px; overflow:hidden}
			#rMenuGoods2 ul li { padding:0px; width:78px; overflow:hidden}		


/*고객센터 좌측메뉴 */
    #cusView { width:909px;margin-top:10px; float:left; overflow:hidden }
		#cusMenu { float:left; width:180px; }
			#menuSub { text-align:-moz-center;#text-align:center;}		
			#menuSub ul { padding:0px; margin:0px; overflow:hidden;}
			#menuSub ul li { padding:0px; width:136px; height:20px; text-align:left; background:url(img/common/icon_next.gif) left 4px no-repeat; padding-left:8px;overflow:hidden}	
		
		#cusContent { float:left; margin-left:9px; width:720px; text-align:left}
			#faq_cbody {width:720px;background:url(img/customer/box_faq_bg.gif) repeat-y 0px;}
				#faq_cbody ul { padding:0px; margin:0px;  overflow:hidden}
				#faq_cbody ul li { padding:0 0 0 30px; width:330px; height:24px; overflow:hidden; text-align:left;background:url(img/customer/icon_faq_q.gif) no-repeat 10px 0px;}
			#board_box { width:720px;margin-top:20px }
				#board_box ul { padding:0px; margin:0px;  overflow:hidden}
				#board_box ul li { padding:0 0 0 4px;  width:346px; height:24px; overflow:hidden; text-align:left;background:url(img/shop/dot_line.gif) repeat-x 0px 18px;}
	#alist_top { width:720px; background:url(img/common/tab_bg.gif); height:22px; margin-top:20px;}
		#alist_top .tab_on { float:left; width:100px; height:22px; margin-right:2px; background:url(img/common/tab_bg_on.gif) no-repeat; color:#000000; padding-top:4px;text-align:center; }
		#alist_top .tab_off { float:left; width:100px; height:22px; margin-right:2px; background:url(img/common/tab_bg_off.gif) no-repeat; color:#000000; padding-top:4px;text-align:center; }

/*로그인 */
	#login_cbody {width:720px;background:url(img/member/box_login_bg.gif) repeat-y 0px;}

/*기본문서 페이지*/

/* 상품비교 페이지*/
	#compareBox2 { clear:both; width:100%; background:url(img/shop/box_comapre2_bg.gif); margin-top:8px; text-align:left;}
	#compareBox2 .top { height:12px; overflow:hidden; background:url(img/shop/box_compare2_top.gif) no-repeat;}
	#compareBox2 .bottom { clear:both;height:12px; overflow:hidden; background:url(img/shop/box_compare2_bottom.gif) no-repeat;}
	#compareBox2 .content { float:left; width:360px; height:480px; padding:4px 20px 0 20px;}		
		#compareBox2 ul { float:left; margin:0px; padding:0px; text-align:left; width:320px; overflow:hidden}
		#compareBox2 ul li { margin:4px 0 4px 0; padding:2px 0 0 0; width:320px; height:23px; overflow:hidden; text-align:left; background:url(img/shop/dot_line.gif) repeat-x 0px 22px; }

	#compareBox3 { clear:both; width:100%; background:url(img/shop/box_comapre3_bg.gif); margin-top:8px; text-align:left;}
	#compareBox3 .top { height:12px; overflow:hidden; background:url(img/shop/box_compare3_top.gif) no-repeat;}
	#compareBox3 .bottom { clear:both;height:12px; overflow:hidden; background:url(img/shop/box_compare3_bottom.gif) no-repeat;}
	#compareBox3 .content { float:left; width:245px; height:480px; padding:4px 10px 0 10px;}		
		#compareBox3 ul { float:left; margin:0px; padding:0px; text-align:left; width:245px; overflow:hidden}
		#compareBox3 ul li { margin:4px 0 4px 0; padding:2px 0 0 0; width:245px; height:23px; overflow:hidden; text-align:left; background:url(img/shop/dot_line.gif) repeat-x 0px 22px; }
		.nextIcon3 { background:url(img/common/icon_next.gif) no-repeat 0px 2px; padding-left:8px; width:80px;}
			
/*마이페이지*/
	#box720 { clear:both; width:720px; text-align:left; background:url(img/customer/box_720_bg.gif) repeat-y;}
	#box720 .top { height:12px; overflow:hidden; background:url(img/customer/box_720_top.gif) no-repeat;}
	#box720 .top2 { height:12px; overflow:hidden; background:url(img/customer/box_720_top2.gif) no-repeat;}
	#box720 .bottom { clear:both;height:12px; overflow:hidden; background:url(img/customer/box_720_bottom.gif) no-repeat;}		
	#box720 .bottom2 { clear:both;height:12px; overflow:hidden; background:url(img/customer/box_720_bottom2.gif) no-repeat;}		
	#box720 .content { padding-top:4px;}
	#box720 .content2 { background:url(img/customer/box_720_bg2.gif);padding-top:4px;}

	
	#memberInfo { width:98%; border:4px solid #FAFAFA;}
		#memberInfo ul { float:left; margin:0px; padding:0px; text-align:left; width:660px; overflow:hidden}
		#memberInfo ul li { margin:4px 0 4px 0; padding:0px; width:660px; height:23px; overflow:hidden; text-align:left; background:url(img/shop/dot_line.gif) repeat-x 0px 22px; }
	
	.boxText {float:left; text-align:center;border-width:0px; height:20px; width:60px;background:url(img/customer/box_text.gif) no-repeat; line-height:210% }

/*공동구매페이지*/
	#coop_sns { padding-top:10px; }
		#coop_sns ul { margin:0px; padding:0px;}
		#coop_sns ul li { float:left; padding-right:5px; text-align:left; }
		
	.coop_price1 { font-family:Tahoma; font-size:11px;letter-spacing:0px;height:26px;text-decoration: strike-through;}
	.coop_price2 { font-family:Tahoma; font-size:16px;height:30px;padding-top:10px;letter-spacing:0px;font-weight:bold;}
	.coop_price3 { font-family:Tahoma; font-size:12px;height:26px;padding-top:6px;letter-spacing:0px;}
	.coop_down { height:7px; width:11px;background:url(img/shop/icon_down.gif) no-repeat; }
	.coop_come { position:relative; overflow:hidden; top:-106px;left:28px;height:20px; width:42px;background:url(img/shop/coop_icon_come.gif) no-repeat; }
	.coop_come2 { position:relative; overflow:hidden; clear:both;top:-58px;left:-49px;height:20px; width:42px;background:url(img/shop/coop_icon_come.gif) no-repeat; }
	.coop_arrow { padding-left:1px; overflow:hidden; height:3px; width:4px;background:url(img/shop/coop_bar_arrow.gif) no-repeat; }
	.coop_btn_view { padding:30px 0 0 6px; }
	
	#countTop { padding:0;text-align:right;height:36px;background:url(img/shop/coop_view_top.gif) no-repeat;overflow:hidden; }
		#countDay { font-size:16px; }
		#countHour { font-size:16px; padding-left:29px;}
		#countMin { font-size:16px; padding-left:20px;}
		#countSec { font-size:16px; padding:0 16px 0 21px;}
	#countBody {float:left; background:url(img/shop/coop_view_bg.gif) repeat-y; }
		#countBody ul { float:left; margin-left:0px; padding-left:24px; text-align:left; width:375px; overflow:hidden;}
		#countBody ul li { margin:4px 0 4px 0; padding:2px 0 0 0; width:360px; height:23px; overflow:hidden; text-align:left; background:url(img/shop/dot_line.gif) repeat-x 0px 22px; }
	
	#goodsHtml { }
		#goodsHtml ul { margin:0; padding:0; }
		#goodsHtml ul li { border-bottom:1px solid #efefef;height:20px;margin-top:4px; }

/*******************************************************************
*	footer
********************************************************************/
	#footer { clear:both; margin-top:6px; width:994px; overflow:hidden; }
	#copymenu { border-top:solid 1px #E6E6E6; border-bottom:solid 1px #E6E6E6; height:30px; text-align:center}
		#copymenu ul { padding:0px; margin:0px; float:left }
		#copymenu ul li { float:left; padding:5px; }		
	#copy_img { float:left; width:100%; text-align:left; padding-top:5px; margin:0;}
		#copy_logo { float:left; width:180px;}
		#copy_text { float:left; vertical-align:top; padding-left:15px; height:76px;}
			#copy_text ul { float:left; margin:0px; padding:0px; }
			#copy_text ul li { clear:both; float:left; margin:0px; padding:0px; width:700px;}		


/*******************************************************************
*	paging
********************************************************************/
#paging            { padding-top:10px;  text-align:center; }
#paging .numbox    { border-left:1px solid #ccc; font-family:Tahoma; font-size:11px; padding-left:6px; margin-left:6px;}
#paging .num       { font-family:Tahoma; font-size:11px; border-right:1px solid #ccc; padding-right:8px; margin-right:5px;}
#paging .num2      { font-family:Tahoma; font-size:11px; padding-right:4px; margin-right:2px;}
#paging .inum      { font-family:Tahoma; font-size:11px; font-weight:normal;}
#paging #prevPage  { background:url(img/common/icon_prev.gif) left 1px no-repeat; padding-left:6px;}
#paging #nextPage  { background:url(img/common/icon_next.gif) right 1px no-repeat; padding-right:6px;}
#paging .selected  { font-weight:bold; color:#333; }

#paging2            { padding-top:10px;  text-align:center; clear:both;}
#paging2 .numbox    { border-left:1px solid #ccc; padding-left:6px; margin-left:6px;}
#paging2 .num       { font-family:Tahoma; font-size:11px; border-right:1px solid #ccc; padding-right:8px; margin-right:5px;}
#paging2 .num2      { font-family:Tahoma; font-size:11px; padding-right:4px; margin-right:2px;}
#paging2 .inum      { font-family:Tahoma; font-size:11px; font-weight:normal;}
#paging2 #prevPage  { background:url(img/common/icon_prev.gif) left 1px no-repeat; padding-left:6px;}
#paging2 #nextPage  { background:url(img/common/icon_next.gif) right 1px no-repeat; padding-right:6px;}
#paging2 .selected  { font-weight:bold; color:#333; }

/*******************************************************************
*	Ranking
********************************************************************/
.rank_num { float:left;width:10%;padding:0px;margin:0px;}
.rank_name { float:left;width:70%;padding:0px;margin:0px;height:16px; overflow:hidden;}
.rank_img { float:left;width:20%;padding:0px;margin:0px;}
.rank_best { text-align:left; margin:0 0 0 12px; height:22px; }

#nextIcon { background:url(img/common/icon_next.gif) right 1px no-repeat; padding-right:6px;}
#prevIcon { background:url(img/common/icon_prev.gif) left 1px no-repeat; padding-left:6px;}
.nextIcon2 { background:url(img/common/icon_next.gif) no-repeat 0px 2px; padding-left:8px; width:120px;}
.nextIcon2rq { background:url(img/common/icon_nextrq.gif) no-repeat 0px 2px; padding-left:8px; width:120px;}
.nextIcon3 { background:url(img/common/icon_next.gif) no-repeat 0px 2px; padding-left:8px; width:100px;}
.nextmIcon1 { background:url(img/common/icon_next.gif) right 1px no-repeat; padding-right:6px;}
.nextmIcon2 { background:url(img/common/icon_mnext.gif) right 1px no-repeat; padding-right:6px;}
#nextIconDiv { background:url(img/common/icon_next.gif) right 2px no-repeat;}


/*******************************************************************
*	money Bar
********************************************************************/
#pmoneyBar { float:left;position:relative;} 
#barLeft { position:absolute; z-index:1; }
#moneyLeft { position:absolute; z-index:1;left:-30px;top:15px;font-family:Tahoma,돋움; font-size:11px; }
#moneyBar { float:left; width:1px; background:url(img/common/money_bar_bg.gif) repeat-x; }
#moneysBar { float:left;width:1px; position:absolute;left:12px;top:6px; }
#barRight { position:absolute; z-index:1; }
#moneyRight { position:absolute; z-index:1;top:15px;font-family:Tahoma, 돋움; font-size:11px; }
#btnSearch { position:absolute; z-index:1;top:-4px; }
#inputBox { position:absolute; z-index:1;top:-4px; left:0px; text-align:right }
#inputBox input { border: 0px solid #dadada; background:url('img/common/money_input_bg.gif') no-repeat right 0;line-height:150%;padding-right:6px; height:18px;text-align:right;font-family:Tahoma,돋움; font-size:11px;}

#moneyRight .class1{ padding-left:6px; text-decoration:none; height:21px;line-height:280%;}
#moneyLeft .class1{ padding-left:6px; text-decoration:none; height:21px;line-height:280%;}



/*********************************************************************
*	Button Effect
*********************************************************************/
#sBtn1 a{ display:block; background:url('img/common/sBtn1_bg.gif') left 0; float:left; color:#666; padding-left:6px; text-decoration:none; height:20px; cursor:pointer; margin-right:3px; overflow:hidden}
#sBtn1 a:hover{ background:url('img/common/sBtn1_bg.gif') left -21px;}
#sBtn1 a span{ display:block; float:left; background:url('img/common/sBtn1_bg.gif') right 0; font-family:돋움,돋움체,Tahoma;font-size:11px;letter-spacing:-1px; line-height:215%; padding-right:6px; height:20px; overflow:hidden}
#sBtn1 a:hover span{ background:url('img/common/sBtn1_bg.gif') right -21px; color:#000;} 

#sBtn2 a{ display:block; background:url('img/common/sBtn2_bg.gif') left 0; float:left; color:#FFF; padding-left:12px; text-decoration:none; height:26px; cursor:pointer; margin-right:3px; overflow:hidden}
#sBtn2 a span{ display:block; float:left; background:url('img/common/sBtn2_bg.gif') right 0; font-family:돋움,돋움체,Tahoma;font-size:11px;letter-spacing:-1px; line-height:260%; padding-right:12px; height:26px; overflow:hidden}
#sBtn3 a{ display:block; background:url('img/common/sBtn3_bg.gif') left 0; float:left; color:#FFF; padding-left:12px; text-decoration:none; height:26px; cursor:pointer; margin-right:3px; overflow:hidden}
#sBtn3 a span{ display:block; float:left; background:url('img/common/sBtn3_bg.gif') right 0; font-family:돋움,돋움체,Tahoma;font-size:11px;letter-spacing:-1px; line-height:260%; padding-right:12px; height:26px; overflow:hidden}


/*******************************************************************
*	Scroll Bar Style
********************************************************************/
.barStyle {	
	scrollbar-face-color: #EDEDED;
	scrollbar-shadow-color: #EDEDED;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #EDEDED;
	scrollbar-darkshadow-color: #C3C3C3;
	scrollbar-track-color: #F9F9F9;
	scrollbar-arrow-color: #C3C3C3;
}


/*********************************************************************
*	LightBox Css
*********************************************************************/

/*body { width:100%; height:100%; margin: 0px; padding: 0px; }*/
div.inBright { z-index: 99999; position:absolute; visibility:visible; display:block; left:0px; top:0px; border:10px }
div.inDark { z-index: 99999; position:absolute; visibility:hidden; display:none; left:-10000px; top:-10000px; width:1px; height:1px; }
div.inDarkLayer {z-index: 99997; position:absolute; display:none; width:100%; height:100%; background-color:#000;}
img.boxCenter { cursor:pointer; border: solid 4px #000000; background-color: #FFF; }
div.loading { z-index: 99998; background-image:url(../../lib/img/bigBlackWaiting.gif); background-repeat:no-repeat; background-position:center; text-align:center; position:absolute; font-family: verdana,tahoma; font-size: 12px; color: #ffffff; padding-top:60px;}
div.boxTopLeft { height:35px; background-image:url(img/common/message_top_left.gif);}
div.boxTopRight { height:35px; background-image:url(img/common/message_top_right.gif);}
div.boxTop { height:35px; background-image:url(img/common/message_top_bg.gif); font-family:돋움,돋움체,Tahoma; color:#FFF;font-size:11px;letter-spacing:-1; font-weight:bold; line-height:300%;background-color:#FFFFFF; }
div.boxBody { clear:both; border:4px solid #5989B7; border-top:0px; background-color:#FFFFFF; }
#pLightBoxClose { width:10px; height:10px; background:url(../../lib/img/pLightClose.gif) no-repeat; float:right;margin:8px 4px 0 0;cursor:pointer } 

/*********************************************************************
*	PopupBox Css
*********************************************************************/

/*body { width:100%; height:100%; margin: 0px; padding: 0px; }*/
div.pinBright { z-index: 99999; position:absolute; visibility:visible; display:block; left:0px; top:0px; border:10px }
div.pinDark { z-index: 99999; position:absolute; visibility:hidden; display:none; left:-10000px; top:-10000px; width:1px; height:1px; }
div.phdlayer { z-index: 99998; position:absolute; visibility:visible; display:block; left:0px; top:0px; border:10px; background-color:#ffffff;}
div.ploading { z-index: 99997; background-image:url(../../lib/img/bigBlackWaiting.gif); background-repeat:no-repeat; background-position:center; text-align:center; position:absolute; font-family: verdana,tahoma; font-size: 12px; color: #ffffff; padding-top:60px;}
div.pboxLayer { border:1px solid #ccc; background-color:#FFFFFF; padding:1px; }
div.pboxBody { border:4px solid #efefef; background-color:#FFFFFF; padding:1px; }

/*********************************************************************
*	MessageBox CSS
*********************************************************************/
#messageDiv { position:absolute; border:2px solid #5F90C2; background-color:#FFF; display:none;z-index:9999}
div.title	{ text-align:center; height:30px; background-image:url(img/common/message_top_bg.gif); font-family:돋움,돋움체,Tahoma; color:#FFF;font-size:11px;letter-spacing:-1; font-weight:bold; line-height:300%;background-color:#FFFFFF; }
/*div.title	{ padding:4px; font-family:돋움,돋움체,Tahoma; color:#FFF;font-size:11px;letter-spacing:-1; text-align:-moz-center;#text-align:center; font-weight:bold; background-color:#3399FF} */
div.message { padding:16px 8px 8px 8px; font-family:돋움,돋움체,Tahoma; color:#444;font-size:11px;letter-spacing:-1; text-align:center;}
div.confirm { padding:8px; text-align:center;}
input.btnBox{ margin: 0 3px; background: url(../../lib/img/btn_bg.gif) no-repeat; border: 0; width: 52px; height: 18px; cursor: pointer; font-family:돋움,돋움체,Tahoma;font-size:11px;letter-spacing:-1px;text-decoration:none}


/*********************************************************************
*	TAG CLOD
*********************************************************************/
A.tag1:link, A.tag1:visited, A.tag1:active {font-family:돋움,돋움체,Tahoma; color:#444;font-size:11px;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;} 
A.tag1:hover {font-family:돋움,돋움체; color:#ffffff;font-size:11px;letter-spacing:-1;text-decoration:none;background-color:#ED6C1F;padding:4px 4px 2px 4px;} 

A.tag2:link, A.tag2:visited, A.tag2:active {font-family:돋움,돋움체,Tahoma; color:#fff;font-size:11px;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;background-color:#3FCBD0;} 
A.tag2:hover {font-family:돋움,돋움체; color:#FFFF00;font-size:11px;letter-spacing:-1;text-decoration:none;background-color:#000;padding:4px 4px 2px 4px;} 

A.tag3:link, A.tag3:visited, A.tag3:active {font-family:돋움,돋움체,Tahoma; color:#ED6C1F;font-size:11px;letter-spacing:-1;text-decoration:none;;padding:4px 4px 2px 4px;} 
A.tag3:hover {font-family:돋움,돋움체; color:#FFFFFF;font-size:11px;letter-spacing:-1;text-decoration:none;;padding:4px 4px 2px 4px;;background-color:#5AA6DB;} 

A.tag4:link, A.tag4:visited, A.tag4:active {font-family:돋움,돋움체,Tahoma; color:#444;font-size:11px;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;font-weight:bold;} 
A.tag4:hover {font-family:돋움,돋움체; color:#ffffff;font-size:11px;letter-spacing:-1;text-decoration:none;background-color:#ED6C1F;padding:4px 4px 2px 4px;;font-weight:bold;} 

A.tag5:link, A.tag5:visited, A.tag5:active {font-family:돋움,돋움체,Tahoma; color:#fff;font-size:11px;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;background-color:#16D462;} 
A.tag5:hover {font-family:돋움,돋움체; color:#FFFF00;font-size:11px;letter-spacing:-1;text-decoration:none;background-color:#000;padding:4px 4px 2px 4px;} 

A.tag6:link, A.tag6:visited, A.tag6:active {font-family:돋움,돋움체,Tahoma; color:#444;font-size:11px;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;} 
A.tag6:hover {font-family:돋움,돋움체; color:#ffffff;font-size:11px;letter-spacing:-1;text-decoration:none;background-color:#ED6C1F;padding:4px 4px 2px 4px;} 

A.tag7:link, A.tag7:visited, A.tag7:active {font-family:돋움,돋움체,Tahoma; color:#444;font-size:11px;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;} 
A.tag7:hover {font-family:돋움,돋움체; color:#ffffff;font-size:11px;letter-spacing:-1;text-decoration:none;background-color:#ED6C1F;padding:4px 4px 2px 4px;} 

A.tag8:link, A.tag8:visited, A.tag8:active {font-family:돋움,돋움체,Tahoma; color:#ED6C1F;font-size:10pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;font-weight:bold;} 
A.tag8:hover {font-family:돋움,돋움체; color:#000;font-size:10pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;font-weight:bold;background-color:transparent} 

A.tag21:link, A.tag21:visited, A.tag21:active {font-family:돋움,돋움체,Tahoma; color:#444;font-size:10pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;} 
A.tag21:hover {font-family:돋움,돋움체; color:#ffffff;font-size:10pt;letter-spacing:-1;text-decoration:none;background-color:#ED6C1F;padding:4px 4px 2px 4px;} 

A.tag22:link, A.tag22:visited, A.tag22:active {font-family:돋움,돋움체,Tahoma; color:#fff;font-size:12pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;background-color:#3FCBD0;} 
A.tag22:hover {font-family:돋움,돋움체; color:#FFFF00;font-size:12pt;letter-spacing:-1;text-decoration:none;background-color:#000;padding:4px 4px 2px 4px;} 

A.tag23:link, A.tag23:visited, A.tag23:active {font-family:돋움,돋움체,Tahoma; color:#ED6C1F;font-size:10pt;letter-spacing:-1;text-decoration:none;;padding:4px 4px 2px 4px;} 
A.tag23:hover {font-family:돋움,돋움체; color:#FFFFFF;font-size:10pt;letter-spacing:-1;text-decoration:none;;padding:4px 4px 2px 4px;;background-color:#5AA6DB;} 

A.tag24:link, A.tag24:visited, A.tag24:active {font-family:돋움,돋움체,Tahoma; color:#444;font-size:13pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;font-weight:bold;} 
A.tag24:hover {font-family:돋움,돋움체; color:#ffffff;font-size:13pt;letter-spacing:-1;text-decoration:none;background-color:#ED6C1F;padding:4px 4px 2px 4px;;font-weight:bold;} 

A.tag25:link, A.tag25:visited, A.tag25:active {font-family:돋움,돋움체,Tahoma; color:#fff;font-size:10pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;background-color:#16D462;} 
A.tag25:hover {font-family:돋움,돋움체; color:#FFFF00;font-size:10pt;letter-spacing:-1;text-decoration:none;background-color:#000;padding:4px 4px 2px 4px;} 

A.tag26:link, A.tag26:visited, A.tag26:active {font-family:돋움,돋움체,Tahoma; color:#444;font-size:12pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;} 
A.tag26:hover {font-family:돋움,돋움체; color:#ffffff;font-size:12pt;letter-spacing:-1;text-decoration:none;background-color:#ED6C1F;padding:4px 4px 2px 4px;} 

A.tag27:link, A.tag27:visited, A.tag27:active {font-family:돋움,돋움체,Tahoma; color:#444;font-size:10pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;} 
A.tag27:hover {font-family:돋움,돋움체; color:#ffffff;font-size:10pt;letter-spacing:-1;text-decoration:none;background-color:#ED6C1F;padding:4px 4px 2px 4px;} 

A.tag28:link, A.tag28:visited, A.tag28:active {font-family:돋움,돋움체,Tahoma; color:#ED6C1F;font-size:13pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;font-weight:bold;} 
A.tag28:hover {font-family:돋움,돋움체; color:#000;font-size:13pt;letter-spacing:-1;text-decoration:none;padding:4px 4px 2px 4px;;font-weight:bold;background-color:transparent} 


.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } /*IE를 제외한 브라우저*/ 
.clearfix { display: inline-block; } /*Inline-block 지원하는 모든 브라우저*/ 
html[xmlns] .clearfix { display: block; } /*사파리?*/ 
* html .clearfix { height: 1%; }  /*IE 6 이상에 대한 clearfix*/ 

.png24 { tmp:expression(setPng24(this)); }